<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
					<string>https://s3.ap-northeast-2.amazonaws.com/ultracombos.project/21008-%E9%87%8E%E7%8D%B8%E5%9C%8B_%E5%8F%B0%E5%8C%97%E5%B0%8F%E5%B0%8F%E5%85%B5/App/21008-VLVillainPad.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.ultracombos.21008-VLVillainPad</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>21008-VL_ElMacho</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>